.mapaizda { background-color: #a9bfda; }
.mapadcha { background-color: #a9bfda; }

h2 {
	font-family: Lato;
	color: white;
}

.textomap{
	font-family: Lato;
	color: white;
	line-height: 120%;
	font-size: 14px;
}

.mapa {
  display: grid;
  /* Grid de 3x2 */
  /* 3 columnas: 2a como margen (50px)*/
  grid-template-columns: 1fr 50px 1fr;
  /* 2 filas: grid-rows: 1a 25px, 2a ancho automático */
  grid-template-rows: 25px auto;
  margin-top:80px;
  margin-bottom:60px;
  
}
.textoMapa{
  grid-column: 1;
  grid-row: 1;
  padding-top: 25px ;
}

.mapaizda {
  grid-column: 1;
  grid-row: 2;
  margin-left:50px;
  padding: 60px 10px 50px 10px; 
}

.mapadcha {
  grid-column: 3;
  grid-row: 2;
  margin-right:50px;
  padding: 40px 30px 50px 30px;
}

